/** Body **/
body {
    background-image: url(../images/bg3.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	position: relative;
}

body .wrap-body{
    margin: 0;
    max-width: 100%;
}

@media (min-width: 1024px) { 
    body .wrap-body{
        margin: 0 auto;
        max-width: 80%;
    }
}

@media (min-width: 1440px) { 
    body .wrap-body{
        max-width: 52%;
    }
}

/** Navegación **/
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) { 
    .navegacion {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

/** Productos **/
@media (min-width: 768px) { 
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .col-2-5 {
        width: 39%;
    }
    
    .col-3-5 {
        width: 61%;
    }
    
    .col-1-2 {
        width: 50%;
    }
}

/** Contacto **/
.contact-form {
    width: 100%;
}

.wrap-col {
    padding: 10px 20px;    
    width: 100%;
}

/** Footer **/
.col-1-3 {
    width: 100%;
}

@media (min-width: 768px) { 
    .col-1-3 {
        width: 33.3%;
    }
}

.wrap-col > .row {
    flex-direction: column;
}